body{
  background-color:midnightblue;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

#board{
  display: grid;
  grid-template-columns: repeat(11, 3vw);
  grid-template-rows: repeat(11, 3vw);
  width: 33vw;
  height: 33vw;
  background-color: peru;
  padding: 10px;
  margin: 20px auto 0px auto;
  visibility: hidden;
}

#form{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26.6vw;
  height: 3vw;
  top: 45vh;
  left: 35vw
}

#main{
  width: 100vw;
  height: 10vh;
}

#nickname{
  box-sizing: border-box;
  font-size: 1.1vw;
  width: 20vw;
  height: 3vw;
  margin-right: 2px;
}

#lobby{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

#lobby div{
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 20%;
  font-size: 2.5vw;
}

#login{
  box-sizing: border-box;
  height: 2.7vw;
  width: 6.5vw;
  font-size: 1vw;
}

#highlighted{
  background-color: antiquewhite;
}

#roll{
  position: absolute;
  width: 10vw;
  height: 10vw;
  left: 10vw;
  top: calc(10vh + 15vw)
}

.active{
  box-shadow: aqua 0px 0px 2px 5px;
  
}

.basic{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(177, 219, 255);
  border-radius: 50%;
  border: 1px solid black;
  margin: 1px;
}

.pawn{
  border-radius: 50%;
  border: 1px solid black;
}

.single{
  width: 60%;
  height: 60%;
}

.more{
  width: 40%;
  height: 40%;
}

.possible{
  background-color: antiquewhite !important;
}

.base{
  background-color: rgba(138, 62, 27, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.hover{
  cursor: pointer;
}

.red{
  background-color: red
}

.green{
  background-color: green;
  display: hidden;
}

.blue{
  background-color: blue
}

.yellow{
  background-color: yellow
}

.enterred{
  border: 3px solid red;
}

.entergreen{
  border: 3px solid green;
}

.enterblue{
  border: 3px solid blue;
}

.enteryellow{
  border: 3px solid yellow;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#close {
  position: absolute;
  color: crimson;
  background-color: azure;
  border: 2px solid black;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  left: 250px;
  top: -12px;
  height: 22px;
  width: 22px;
}

#instructions {
  position: fixed;
  left: 10px;
  top: calc(50% - 150px);
  height: 292px;
  width: 250px;
  background-color: aliceblue;
  border: 2px solid antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: default;
  z-index: 1;
  padding: 15px;
}

#instructions div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#moreinfo {
  margin-top: 4px;
  margin-left: 25px;
  padding: 0;
  width: 200px;
  height: 30px;
  border: 2px solid antiquewhite;
  background-color: aliceblue;
}

#text {
  width: 200px;
  text-align: center;
  margin-top: 17px;
}

#info {
  display: none;
  width: 520px;
  text-align: left;
  padding: 5px;
  font-size: 16px;
  margin-top: -100px;
}

#moreinfo:hover #info {
  display: block;
  position: absolute;
  left: 242px;
  background-color: aliceblue;
  border: 2px solid antiquewhite;
}
